body {
  background-color: cornflowerblue;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
  text-align: center;
}

.signUp {
  display: flex;
  text-align: center;
  justify-content: center;
  margin: 1em;
}

.signIn {
  display: flex;
  text-align: center;
  justify-content: center;
  margin: 1em;
}

.login {
  border: black 1em solid;
}

.username {
  margin: 0.5em;
}

.password {
  margin: 0.5em;
}

.button {
  width: 5em;
  height: 2em;
  margin: 1em;
  background-color: black;
  color: white;
}